<div class="sidebar" id="sidebar">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <div class="header-logo">
      <img src="/images/staff/staff.webp" alt="Logo" />
    </div>
    <hr class="header-separator" aria-hidden="true" />
    <div class="header-title">
      <h4 class="m-0" style="color: white">Technician</h4>
    </div>
  </div>

  <!-- Sidebar Navigation -->
  <ul class="sidebar-nav nav-list">
    <li class="nav-item">
      <a href="/technician" class="nav-link">
        <i class="bi bi-speedometer2 nav-icon"></i>
        <span class="nav-label">Dashboard</span>
        <span class="nav-tooltip">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/technician/schedule" class="nav-link">
        <i class="bi bi-calendar3 nav-icon"></i>
        <span class="nav-label">Schedule</span>
        <span class="nav-tooltip">Schedule</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/technician/tracker" class="nav-link">
        <i class="bi bi-geo-alt nav-icon"></i>
        <span class="nav-label">Tracker</span>
        <span class="nav-tooltip">Tracker</span>
      </a>
    </li>
  </ul>
</div>
